@model AspTeleBotSharp.Models.Entity.Questions

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Questions</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.replyMarkupBox)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.replyMarkupBox)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.replyToMessageId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.replyToMessageId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.box)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.box)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.file)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.file)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
