@model IEnumerable<AspTeleBotSharp.Models.BotUser>

@*<script type="text/javascript">
    setTimeout(function () {
        location.reload();
    }, 1000);
</script>*@
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<script>
    $(document).ready(function () {
        $('.table').click(function () {
            $.ajax(
                {
                    url: '@Url.Action("Reload")',
                    type: 'GET',
                    data: { projectId: $(this).val() },

                    success: function (partialView) {
                        $('#projectFilesPart').html(partialView);
                        $('#projectFilesPart').show();
                    }
                });
        })
    });</script>
<div id="projectFilesPart">


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nike)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nike)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.CallBackData)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.box)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>*@
            </tr>
        }

    </table>
</div>
